@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0b1120;

    --muted: #f1f5f9;
    --muted-foreground: #475569;

    --popover: #f8fafc;
    --popover-foreground: #0b1120;

    --card: #ffffff;
    --card-foreground: #0b1120;

    --border: #e2e8f0;
    --input: #e2e8f0;
    --sidebar: #f8fafc;

    --primary: #7c3aed;
    --primary-foreground: #ffffff;

    --secondary: #f1f5f9;
    --secondary-foreground: #0b1120;

    --accent: #e0e7ff;
    --accent-foreground: #4130a3;

    --destructive: #ef4444;
    --destructive-foreground: #ffffff;

    --ring: #cbd5e1;

    --radius: 0.5rem;
  }

  .dark {
    --background: #0b1120;
    --foreground: 221.5 30.2% 91.6%;

    --muted: #202937;
    --muted-foreground: #0b1120;

    --popover: #0e172a;
    --popover-foreground: 221.5 30.2% 91.6%;

    --card: #0e172a;
    --card-foreground: 221.5 30.2% 91.6%;

    --border: #202937;
    --input: #202937;
    --sidebar: #0e172a;

    --primary: #a252c8;
    --primary-foreground: #f5f5f5;

    --secondary: #202937;
    --secondary-foreground: 221.5 30.2% 91.6%;

    --accent: 221.5 30.2% 91.6%;
    --accent-foreground: #202937;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 221.5 30.2% 91.6%;

    --ring: #202937;

    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground text-base;
    font-family: 'Lato', sans-serif;
  }
}
